@media (min-width: 50rem){
    .nav-category {
        margin-top: 0;
    }
}

.nav-list .nav-list-item.active > .nav-list {
    border-bottom: 1px solid #44434d;
}

p.important, blockquote.important {
    background: rgba(44, 132, 250, 0.2);
    border-left: 4px solid #183385;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
}

.highlight .n {
    color: #9cdcfe;
}

.highlight .k,
.highlight .kt {
    color: #569cd6;
}

.highlight .nf {
    color: #dcdcaa;
}

.highlight .c1,
.highlight .cm {
    color: #608b4e;
}

.highlight .m {
    color: #b5cea8;
}

.highlight .s {
    color: #d69d85;
}